/* SingleScanForm.css */

.Continious-form-container {
  margin-top: 20px; /* Add space above the form */
}

.Continious-form {
  display: flex;
  flex-direction: column;
}

.Continious-form-label {
  margin-bottom: 10px;
}

.Continious-form-input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.Continious-form-button {
  padding: 5px 10px;
  margin-top: 10px;
  background-color:red; /* Button color */
  color: white; /* Text color */
  border: none;
  cursor: pointer;
}

.Continious-form-button:hover {
  background-color: #0056b3; /* Change button color on hover */
}

/* SingleScanForm.css */

.Continious-form-label {
  display: block; /* Make labels block-level elements */
  margin-bottom: 10px; /* Add margin below each label */
}

.Continious-form-input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  width: 100%; /* Make input fields fill their container */
  box-sizing: border-box; /* Include padding and border in input field's width */
}
